{#
/**
 * @file location-data.html.twig
 * Default theme implementation to present Store locator data.
 *
 * This template is used when viewing Store locator pages.
 *
 *
 * Available variables:
 * - location_list: A list of content items. Use 'location_list' to print all items.
 *
 * @see template_preprocess_store_locator()
 *
 * @ingroup themeable
 */
#}
<h1>{{ page_title }}</h1>
{% if empty_data is not empty %}
    <div class="empty-store">{{ empty_data }}</div>

{% else %}

    <div class="loc-search-box">{{ searchField }}</div>
    <div class="loc-address-box">{{ searchAddress }}</div>

    <div id="location-wrapper loc-map-container" class="loc-map-container">
        <div id="location-list-wrapper" class="loc-list">
            <ul class="list-wrapper list">
            {% set element_remove = ['latitude', 'longitude', 'get_direction'] %}
                {% for items in location_list %}
                    <li data-markerid="{{ loop.index0 }}" class="list-marker-id">
                        <div class="position">{{ loop.index0 + 1 }}</div>
                        <div class="list-details">
                            <div class="list-content">
                                {% for key, value in items %}
                                    {% if key == 'website' %}
                                        <div class="loc-{{ key }}"><a href="{{ value }}" target="_blank">{{ value }}</a></div>
                                    {% elseif key not in element_remove %}
                                        <div class="loc-{{ key }}">{{ value | raw }}</div>
                                    {% endif %}
                                {% endfor %}
                                {% if list_direction is same as(1) %}
                                        <div class="loc-get-direction">{{ items.get_direction | raw }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="map" class="loc-map"></div>
    </div>
{% endif %}
