.map-container {
  display: inline-block;
  vertical-align: top;
  width: 79%;
  height: 442px;
  z-index: 99;
  margin-bottom: 10px;
}
@media(max-width: 972px) {
  .map-container {
    display: block;
    height: 400px;
    width: auto;
  }
  
}


.list-element {
  cursor: pointer;
}
.list-element.active {
  background: #eee;
  margin-bottom: 0;
}

.filter-wrapper {
  box-sizing: border-box;
  padding: 15px;
  background: #eee;
}
.filter-wrapper .location-filter {}
.filter-wrapper .location-filter form {}
.filter-wrapper .location-filter form .list-inline {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.filter-wrapper .location-filter form .list-inline > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: initial;
  line-height: initial;
}
.locator {
  background: #fff;
  border: 2px solid #ccc;
  display: inline-block;
  height: 542px;
  overflow: scroll;
  padding: 10px;
  vertical-align: top;
  width: 18%;  
}
@media(max-width: 972px) {
  .locator {
    height: 200px;
    display: block;
    width: auto;
  }
}

.locator ul {
  margin: 0;
  padding-left: 0;
}

.locator ul li span {
  border-bottom: 1px solid #eee;
  display: block;
  margin: 10px 0;
}

.locator ul li span a {
  display: block;
  padding: 10px 5px;
  

}
.wrapper.map-wrapper {
  margin: 20px auto;
}

.marker-info-window img {
  display: block;
  padding-bottom: 10px;
}

.marker-info-window .large-marker-title {
  font-weight: 500;
  line-height: 1.3em;
}

.marker-info-window .window-directions {
  color: #fff;
  display: block;
  text-align: center;
}
.poi-sub-list {
  padding-left: 0;
}

.locator .poi-sub-list {
  background: #fff;
  display: none;
}

.locator .active .poi-sub-list {
  display: block;
  padding-left: 20px;
}

.active .poi-sub-list a {
  padding: 0;
}