<h1>Custom Google Map</h1>


    <div class="filter-wrapper">
        <div class="location-filter">
            <form>
                    <label for="search">Enter Your Address<br>
                    {{ places_var | raw }}</label>
                    <label for="distance">Choose a distance<br>
                    {{ distance_var | raw }}</label>
                    
                    <button type="submit" value="submit" id="map-search-submit">Search</button>
                    
            </form>

            <div class="min-char-not"></div>

            <div class="location-reset">
                <a style="cursor: pointer;">View All</a>
            </div>
        </div>

        <div class="loading-message">
            <div class="text">
                Loading Map
            </div>

            <div class="loading-message-bar"></div>
        </div>
    </div>
	<div class="map-container-wrapper">
    <div class="map-container" z-index:="" margin-bottom:="">
        <div id="map-canvas" style="height: 100%;"></div>
    </div>

    <div class="locator">
        <ul data-role="listview" id="location_results_list"></ul>
    </div>
    </div>